#menu-container {
  position: relative;
  float: left;
  padding: 15px 10px;
  width: 280px;
  height: calc(100vh - 30px);
  color: #ffffff;
  background-color: #222222;
}

#menu-container h2 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

#menu-container h2 svg {
  display: none;
}

#menu-container .component-list li {
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
}

#menu-container .component-list li:hover {
  background-color: #666666;
}

#main-container {
  float: left;
  padding: 0 5px;
  width: calc(100% - 310px);
  height: 100vh;
  overflow: hidden;
}

#main-container #component-iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}

#mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

@media only screen and (max-width: 767px) {
  #menu-container {
    float: none;
    width: auto;
    height: 30px;
  }

  #menu-container h2 {
    font-size: 20px;
  }

  #menu-container h2 .title {
    float: left;
  }

  #menu-container h2 .menu {
    float: right;
    margin-top: 2px;
  }

  #menu-container h2 .menu svg {
    display: block;
    cursor: pointer;
  }

  #menu-container h2 .menu svg:hover {
    background-color: #666666;
  }

  #menu-container h2 .menu svg:active {
    background-color: #888888;
  }

  #menu-container .component-list {
    position: absolute;
    top: 100%;
    left: -300px;
    width: 300px;
    height: calc(100vh - 61px);
    background-color: #222222;
    border-top: 1px solid #666666;
    transition: left 0.75s;
    z-index: 9999;
  }

  #main-container {
    float: none;
    width: auto;
    height: calc(100vh - 60px);
  }
}