@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', Helvetica, Arial, Sans-Serif, 'Microsoft JhengHei';
}

.component-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}